.bubble {
    fill:#c60623;
    stroke:white;
    stroke-width: 2px;
    }
rect.background {
        fill:#8ed200;
        stroke:#a4adbc;
        stroke-width:8px;
    }
.research {
fill:#c60623;
stroke:white;
stroke-width: 2px;
    }
.about {
    fill:#f7ae9f;
    stroke:#fafafa;
    stroke-width: 3px;
    }
.publications {
    fill:#f76e06;
    }
.teaching {
    fill:#2bc8eb;
}
.puc {
    fill:none;
    stroke:none;
    stroke-width: 1.6px;
}
.math-department {
    fill:#b8c2db;
}
.probability-group {
    fill:black;
}
.misc-bubble {
    fill:#37170a;
}